In [31]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [32]:
import pandas as pd
from spr.data.celeb import build_celeb_df
from mosaic import ImageColumn, CellColumn, ImagePath, DataPanel

In [3]:
df = build_celeb_df.out().load()

In [37]:
build_celeb_df.out()._get_path()

'/Users/sabrieyuboglu/code/terra/test_storage_dir/tasks/data/celeb/build_celeb_df/_runs/7/artifacts/a349c55c2b034b80a14205a0caabfb0b'

In [11]:
col = ImageColumn.from_filepaths(df["img_path"].iloc[:100])

In [12]:
dp  = DataPanel.from_pandas(df.iloc[:100])

In [14]:
dp.add_column("img", col)

In [17]:
new = dp[["img", "file", "identity"]].lz[0:10]

In [26]:
dp["img"].lz[0].filepath.name

'000001.jpg'

In [28]:
for k, v in dp.items():
    pass

In [30]:
v

ImageColumn([Image(000001.jpg), Image(000002.jpg), Image(000003.jpg), Image(000004.jpg), Image(000005.jpg), Image(000006.jpg), ...])