In [1]:
%load_ext autoreload
%autoreload 2
import os
os.environ["TERRA_CONFIG_PATH"] = "/Users/sabrieyuboglu/code/spr-21/terra_config.json"

In [2]:
from terra.settings import TERRA_CONFIG
TERRA_CONFIG

{'storage_dir': '/Users/sabrieyuboglu/data/win-21/terra/',
 'slack_web_client_id': 'xoxb-1190875346355-1203313826833-6ArzXNwOZ81aHdV95fxqbAcM',
 'git_dir': '/Users/sabrieyuboglu/code/win-21/',
 'notify': False}

In [10]:
import mosaic
from mosaic import ImageColumn, CellColumn, ImagePath, DataPanel
import pandas as pd
import numpy as np

In [4]:
from spr.data.celeb import build_celeb_df, get_celeb_dp

In [6]:
from tests.mosaic.ops.test_merge import get_dps

In [7]:
dp1, dp2, visible_rows, visible_columns, shuffle1, shuffle2 = get_dps(16, 12, tmpdir="test", use_visible_rows=True)

In [14]:
mosaic.concat([dp1["a"], dp2["a"]])

IndexError: index 4 is out of bounds for axis 0 with size 4

In [7]:
dp1.merge(dp2, left_on="b", right_on="b", how="outer")

DataPanel(num_rows: 7)

In [93]:
out = dp1.merge(dp2, on="a", keep_indexes=False)
out

DataPanel(num_rows: 2)

In [106]:
new_df = left_df.copy()
left_df["c"] = np.arange(16)
new_df = new_df.rename(columns={"a": "c"})
new_df.merge(left_df, left_on="b", right_on="a")

,c_x,index_x,__left_indices___x,b_x,a,index_y,__left_indices___y,b_y,c_y
0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,1,1,1
2,2,2,2,2,2,2,2,2,2
3,3,3,3,3,3,3,3,3,3
4,4,4,4,4,4,4,4,4,4
5,5,5,5,5,5,5,5,5,5
6,6,6,6,6,6,6,6,6,6
7,7,7,7,7,7,7,7,7,7
8,8,8,8,8,8,8,8,8,8
9,9,9,9,9,9,9,9,9,9
10,10,10,10,10,10,10,10,10,10
11,11,11,11,11,11,11,11,11,11
12,12,12,12,12,12,12,12,12,12
13,13,13,13,13,13,13,13,13,13
14,14,14,14,14,14,14,14,14,14
15,15,15,15,15,15,15,15,15,15

In [77]:
left_df.merge(right_df, on=["a"])

     a index_x  __left_indices__ index_y  __right_indices__
0    0       0                 0       9                  9
1    1       1                 1       7                  7
2    2       2                 2       3                  3
3    3       3                 3       0                  0
4    4       4                 4       6                  6
5    5       5                 5      15                 15
6    6       6                 6       4                  4
7    7       7                 7       2                  2
8    8       8                 8      12                 12
9    9       9                 9      11                 11
10  10      10                10       5                  5
11  11      11                11      14                 14
12  12      12                12      13                 13
13  13      13                13       1                  1
14  14      14                14       8                  8
15  15      15                15      10                 10

In [5]:
from mosaic import ListColumn
col = ListColumn([1,2,3])

In [15]:
np.

here
[0 1]

ListColumn([10, 20, 3])

In [16]:
from mosaic import NumpyArrayColumn
col = NumpyArrayColumn([1,2,3])

[autoreload of mosaic.columns.numpy_column failed: Traceback (most recent call last):
  File "/Users/sabrieyuboglu/miniconda3/envs/mosaic/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 245, in check
    superreload(m, reload, self.old_objects)
  File "/Users/sabrieyuboglu/miniconda3/envs/mosaic/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 410, in superreload
    update_generic(old_obj, new_obj)
  File "/Users/sabrieyuboglu/miniconda3/envs/mosaic/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 347, in update_generic
    update(a, b)
  File "/Users/sabrieyuboglu/miniconda3/envs/mosaic/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 302, in update_class
    if update_generic(old_obj, new_obj): continue
  File "/Users/sabrieyuboglu/miniconda3/envs/mosaic/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 347, in update_generic
    update(a, b)
  File "/Users/sabrieyuboglu/miniconda3/envs/mosaic/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 266, in update_function
    setattr(old, name, getattr(new, name))
ValueError: __setitem__() requires a code object with 1 free vars, not 0
]

TypeError: super(type, obj): obj must be an instance or subtype of type

In [49]:
x[[1,3,4]] = [10, 20, 30]

TypeError: list indices must be integers or slices, not list

In [47]:
y[0] = 10

In [6]:
dp = DataPanel.from_feather(
    "/Users/sabrieyuboglu/data/scratch/train_strata0.feather"
)

In [7]:
dp.head(4)

DataPanel(num_rows: 4)

In [103]:
a = dp[["file", "identity", "attractive", "input"]]
b = dp[["file", "bangs", "img_path", "split", "img"]].lz[:100]

In [104]:
df_a = a.to_pandas()
df_b = b.to_pandas()

In [19]:
%%time
x = list(range(int(1e3)))

CPU times: user 19 µs, sys: 11 µs, total: 30 µs
Wall time: 34.1 µs

In [20]:
from copy import copy

In [21]:
%%time
y = copy(x)

CPU times: user 39.2 ms, sys: 5.18 ms, total: 44.3 ms
Wall time: 44.4 ms

In [11]:
merged_df = df_a.merge(df_b, on="file", how="left")

In [25]:
merged_df.img_path.values.str.upper()

AttributeError: 'numpy.ndarray' object has no attribute 'str'

In [23]:
import numpy as np
x =  np.array(["ab", "cd"])
x[0] = np.nan
x

array(['na', 'cd'], dtype='<U2')

In [10]:
from mosaic.columns.abstract import CellPointer
def to_mosaic(series):
    if isinstance(series[0], CellPointer):
        col_df = series.apply(lambda x: pd.Series({"column": x.column, "idx": x.idx}))
        return col_df["column"][0].lz[col_df["idx"].values]
    return series
    
merged_dp =  DataPanel.from_batch({k: to_mosaic(v) for k, v in merged_df.iteritems()})

In [12]:
df = dp.to_pandas()

In [24]:
dp["index"].visible_rows

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199])

In [7]:
%%time
dp.head(0)

CPU times: user 15.6 ms, sys: 2.87 ms, total: 18.5 ms
Wall time: 17.4 ms

DataPanel(num_rows: 0)

In [21]:
class Test:
    def __getitem__(self, index):
        return index

obj = Test()

In [23]:
obj[:0]

slice(None, 0, None)

In [135]:
df = dp.to_pandas()

tensor([[0, 1, 2, 3, 4],
        [0, 1, 2, 3, 4],
        [0, 1, 2, 3, 4],
        [0, 1, 2, 3, 4],
        [0, 1, 2, 3, 4]])

In [ ]:
dp.add_column("test", np.zeros((1000, 10))