In [1]:
%load_ext autoreload
%autoreload 2

from tqdm.auto import tqdm
import terra
import numpy as np
import meerkat as mk
import pandas as pd

In [2]:
from domino.data.celeb import build_celeb_df, get_celeb_dp

from domino.evaluate.linear import induce_correlation, CorrelationImpossibleError
from meerkat.contrib.celeba import ATTRIBUTES

In [3]:
if False:
    df = build_celeb_df().load()
else:
    df = build_celeb_df.out(504, load=True)
dp = get_celeb_dp(df)

In [4]:
train_df = df[df["split"] == "train"]

In [19]:
from domino.evaluate.linear import induce_correlation, CorrelationImpossibleError, check_corr_induction
from meerkat.contrib.celeba import ATTRIBUTES
check_df = check_corr_induction(df, ATTRIBUTES, corr_start=0, corr_end=0.85, n=3e4, match_mu=False).load()

task: check_corr_induction, run_id=516

HBox(children=(FloatProgress(value=0.0, max=40.0), HTML(value='')))

In [27]:
check_df = terra.out(516).load()
check_df[check_df.success][40:]

                  attr_a               attr_b  success
394           brown_hair        straight_hair     True
396           brown_hair     wearing_earrings     True
412       bushy_eyebrows          narrow_eyes     True
429               chubby          double_chin     True
430               chubby           eyeglasses     True
431               chubby               goatee     True
445               chubby            sideburns     True
453               chubby      wearing_necktie     True
457          double_chin            gray_hair     True
462          double_chin             mustache     True
480           eyeglasses               goatee     True
492           eyeglasses    receding_hairline     True
502           eyeglasses      wearing_necktie     True
515               goatee    receding_hairline     True
517               goatee            sideburns     True
522               goatee          wearing_hat     True
525               goatee      wearing_necktie     True
549         heavy_makeup      high_cheekbones     True
563         heavy_makeup            wavy_hair     True
570      high_cheekbones                 male     True
571      high_cheekbones  mouth_slightly_open     True
581      high_cheekbones              smiling     True
586      high_cheekbones     wearing_lipstick     True
590                 male  mouth_slightly_open     True
600                 male              smiling     True
618  mouth_slightly_open              smiling     True
623  mouth_slightly_open     wearing_lipstick     True
634             mustache            sideburns     True
657          narrow_eyes     wearing_necklace     True
676            oval_face          pointy_nose     True
682            oval_face            wavy_hair     True
707          pointy_nose            wavy_hair     True
723    receding_hairline      wearing_necktie     True
748              smiling     wearing_lipstick     True
753        straight_hair     wearing_earrings     True

In [28]:
train_dp = dp.lz[dp["split"].data == "train"]
indices = induce_correlation(
    df, 
    corr=0.85, 
    attr_a="eyeglasses", 
    attr_b="wearing_necktie", 
    n=25000,
)

In [32]:
new_df = df.iloc[indices]
_df = new_df[new_df.split == "train"]

from scipy.stats import pearsonr

pearsonr(_df["eyeglasses"], _df["wearing_necktie"])

(0.8471659195374849, 0.0)

In [6]:
from domino.vision import train

In [ ]:
train(
    dp=dp, #mk.concat([train_dp.lz[indices], dp.lz[dp["split"].data == "valid"]]),
    input_column = "input",
    target_column="smiling",
    id_column="file",
    batch_size=256,
    run_dir="/home/sabri/data/test/1"
)

In [20]:
df

,file,identity,5_o_clock_shadow,arched_eyebrows,attractive,bags_under_eyes,bald,bangs,big_lips,big_nose,...,wavy_hair,wearing_earrings,wearing_hat,wearing_lipstick,wearing_necklace,wearing_necktie,young,img_path,image_id,split
0,000001.jpg,2880,0,1,1,0,0,0,0,0,...,0,1,0,1,0,0,1,/home/common/datasets/celeba/img_align_celeba/...,000001.jpg,train
1,000002.jpg,2937,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,1,/home/common/datasets/celeba/img_align_celeba/...,000002.jpg,train
2,000003.jpg,8692,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,1,/home/common/datasets/celeba/img_align_celeba/...,000003.jpg,train
3,000004.jpg,5805,0,0,1,0,0,0,0,0,...,0,1,0,1,1,0,1,/home/common/datasets/celeba/img_align_celeba/...,000004.jpg,train
4,000005.jpg,9295,0,1,1,0,0,0,1,0,...,0,0,0,1,0,0,1,/home/common/datasets/celeba/img_align_celeba/...,000005.jpg,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202594,202595.jpg,9761,0,0,1,0,0,0,1,0,...,0,0,0,1,0,0,1,/home/common/datasets/celeba/img_align_celeba/...,202595.jpg,test
202595,202596.jpg,7192,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,1,/home/common/datasets/celeba/img_align_celeba/...,202596.jpg,test
202596,202597.jpg,9852,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,/home/common/datasets/celeba/img_align_celeba/...,202597.jpg,test
202597,202598.jpg,5570,0,1,1,0,0,0,1,0,...,1,1,0,1,0,0,1,/home/common/datasets/celeba/img_align_celeba/...,202598.jpg,test
202598,202599.jpg,10101,0,1,1,0,0,0,0,0,...,1,0,0,1,0,0,1,/home/common/datasets/celeba/img_align_celeba/...,202599.jpg,test

In [33]:
target="eyeglasses"
correlate="wearing_necktie"
indices = induce_correlation(
    dp,
    corr=0.85,
    attr_a=target,
    attr_b=correlate,
    n=30000,
)

In [5]:
model = terra.get_artifacts(535, "best_chkpt")["model"].load()

/home/common/envs/conda/envs/domino/lib/python3.8/site-packages/torchmetrics/utilities/prints.py:36: UserWarning: Metric `AUROC` will save all targets and predictions in buffer. For large datasets this may lead to large memory footprint.
  warnings.warn(*args, **kwargs)

In [ ]:
model.eval()

In [7]:
valid_dp = dp.lz[dp["split"].data == "valid"].lz[:1000]

In [6]:
from domino.vision import predict

In [34]:
valid_dp = predict(
    model,
    valid_dp,
    {"layer4": model.model.layer4},
    batch_size=128
)

HBox(children=(FloatProgress(value=0.0, max=8.0), HTML(value='')))

In [26]:
from sklearn.metrics import roc_auc_score

In [36]:
subgroup_dp = valid_dp[valid_dp["wearing_necktie"] == 1]
roc_auc_score(subgroup_dp["eyeglasses"], subgroup_dp["output"].data[:, -1])

0.9632183908045977

In [37]:
subgroup_dp = valid_dp[valid_dp["wearing_necktie"] == 0]
roc_auc_score(subgroup_dp["eyeglasses"], subgroup_dp["output"].data[:, -1])

0.9865810968494749