In [1]:
from domino.data.imagenet import get_imagenet_dp

#data_dp = get_imagenet_dp()
data_dp = get_imagenet_dp.out(6121).load()

In [4]:
from nltk.corpus import wordnet as wn

In [5]:

list(wn.synset("snowmobile.n.01").closure(lambda s: s.hypernyms()))

/home/common/envs/conda/envs/domino/lib/python3.8/site-packages/nltk/corpus/reader/wordnet.py:580: UserWarning: Discarded redundant search for Synset('instrumentality.n.03') at depth 6
  for synset in acyclic_breadth_first(self, rel, depth):

[Synset('tracked_vehicle.n.01'),
 Synset('self-propelled_vehicle.n.01'),
 Synset('wheeled_vehicle.n.01'),
 Synset('container.n.01'),
 Synset('vehicle.n.01'),
 Synset('instrumentality.n.03'),
 Synset('conveyance.n.03'),
 Synset('artifact.n.01'),
 Synset('whole.n.02'),
 Synset('object.n.01'),
 Synset('physical_entity.n.01'),
 Synset('entity.n.01')]

In [8]:
synsets = set(data_dp["synset"].unique())

In [42]:
hypernyms = []
for synset in synsets:
    synset =  wn.synset_from_pos_and_offset(
        pos=synset[0], offset=int(synset[1:])
    )
    for hypernym in synset.closure(lambda s: s.hypernyms()):
        hypernyms.append( {"synset": synset.name(), "hypernym": hypernym.name()})

In [43]:
import pandas as pd
df = pd.DataFrame(hypernyms)

In [44]:
df.hypernym.value_counts()[:100]

entity.n.01                  1094
physical_entity.n.01         1091
object.n.01                  1049
whole.n.02                   1034
artifact.n.01                 603
                             ...
car.n.01                       10
geological_formation.n.01      10
establishment.n.04             10
edible_fruit.n.01              10
ball.n.01                      10
Name: hypernym, Length: 100, dtype: int64

In [46]:
df[df["hypernym"] == "ball.n.01"]

                    synset   hypernym
2336     punching_bag.n.02  ball.n.01
3427      tennis_ball.n.01  ball.n.01
3982       basketball.n.02  ball.n.01
4901        golf_ball.n.01  ball.n.01
5372   ping-pong_ball.n.01  ball.n.01
6229       volleyball.n.02  ball.n.01
10717      rugby_ball.n.01  ball.n.01
10818    croquet_ball.n.01  ball.n.01
10917        baseball.n.02  ball.n.01
11193     soccer_ball.n.01  ball.n.01