In [1]:
%load_ext autoreload
%autoreload 2

In [17]:
from domino.utils import get_wandb_runs
df = get_wandb_runs()

In [4]:
runs_df

,summary,config,name
0,"{'_step': 63, 'train_loss': 0.5848901271820068...","{'alpha': 0.1, 'index': '393', 'dataset': 'ima...",train_model-run_id=46354
1,"{'_step': 217, 'epoch': 2, '_runtime': 263, '_...","{'alpha': 0.1, 'index': '387', 'dataset': 'ima...",train_model-run_id=46304
2,"{'_step': 410, '_runtime': 552, '_timestamp': ...","{'alpha': 0.1, 'index': '381', 'dataset': 'ima...",train_model-run_id=46243
3,"{'_timestamp': 1632890057, 'train_loss': 1.420...","{'alpha': 0.1, 'index': '375', 'dataset': 'ima...",train_model-run_id=46184
4,"{'epoch': 14, '_timestamp': 1632889958, 'valid...","{'alpha': 0.1, 'index': '392', 'dataset': 'ima...",train_model-run_id=46118
...,...,...,...
2064,{},{},warm-firebrand-5
2065,"{'_step': 9, 'epoch': 0, '_runtime': 16, '_tim...",{},sleek-dust-4
2066,"{'valid_loss': 0.030979106202721596, 'valid_au...",{},dazzling-meadow-3
2067,{},{},ancient-dew-2
2068,"{'_runtime': 139, '_timestamp': 1623277581, 't...",{},azure-violet-1

In [6]:
df = pd.DataFrame(config_list)

In [14]:
x = df[df["train_settings_run_id"].isin([41147, 41430, 41192])]

In [15]:
x["setting_id"].nunique() == len(x)

True

In [19]:
from domino.slices.abstract import concat_settings

In [23]:
df = concat_settings.out(41005).load()

In [28]:
df["slice_category"].value_counts()

PandasSeriesColumn(rare         ..., dtype: int64)

In [25]:
df

DataPanel(nrows: 788, ncols: 8)