In [29]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [33]:
from domino.utils import get_wandb_runs
df = get_wandb_runs()

In [36]:
df["state"]

In [6]:
df = pd.DataFrame(config_list)

In [14]:
x = df[df["train_settings_run_id"].isin([41147, 41430, 41192])]

In [15]:
x["setting_id"].nunique() == len(x)

True

In [19]:
from domino.slices.abstract import concat_settings

In [23]:
df = concat_settings.out(41005).load()

In [28]:
df["slice_category"].value_counts()

PandasSeriesColumn(rare         ..., dtype: int64)

In [25]:
df

DataPanel(nrows: 788, ncols: 8)